@import url('https://fonts.googleapis.com/css?family=Oswald:400,700|Lato:400,800,900');

$family-sans-serif: "Oswald", sans-serif;

$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

html, body {
    height: 100%;
}

html {
    background-image: url('./assets/hd-background.png');
    background-size: cover;

    overflow-y: auto !important;
}